<dl>
<h1>Employee detail - {{ emp.FirstName }} {{ emp.LastName }}</h1>
<p>View this employee</p>
    <dt>First Name</dt>
        <dd>{{ emp.FirstName }}</dd>

    <dt>Last Name</dt>
        <dd>{{ emp.LastName }}</dd>

    <dt>City</dt>
        <dd>{{ emp.AddressStree }} {{ emp.AddressCity }}, {{ emp.AddressState }} {{ emp.AddressZip }}</dd>

    <dt>Hire Date</dt>
        <dd>{{ emp.HireDate }}</dd>

</dl>
<button class="btn btn-default" (click)='this.router.navigate(["/employeesList"])'>Back</button>